<%- include('../partials/header.ejs') %>

<main>
    <nav>
        <%- nav %>
    </nav>

    <h1><%= title %></h1>

    <section class="vehicle-detail">
        <%= vehicleHtml %>
    </section>
</main>

<%- include('../partials/footer.ejs') %>
